<service>
	<serviceName>test</serviceName>
	<serviceDescription>Test all Apretaste mailboxes for Nauta</serviceDescription>
	<creatorEmail>salvi@apretaste.com</creatorEmail>
	<serviceCategory>otros</serviceCategory>
	<serviceUsage>Escriba un nuevo email y en el asunto ponga la palabra TEST.</serviceUsage>
	<listed>0</listed>
	<showAds>0</showAds>
	<group>test</group>
</service>
